<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargoGlobal.com</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    {% extends 'base.html' %}
    {% block body %}
    <div id="flekskon">
        {% for elan in favelanlar %}
    <div id="fleks">
        <p class="sigdir">Çıxış Yeri:</p>
        <h1 class="sigdir cixcat">{{elan.cixis_yeri|title}}</h1>
        <p class="sigdir">Cixiş Vaxtı:</p>
        <b><i class="sigdir">{{elan.cixis_vaxti}}</i></b>
        <p id="catmayer" class="sigdir">Çatma Yeri:</p>
        <h1 class="sigdir cixcat">{{elan.catma_yeri|title}}</h1>
        <p class="sigdir">Çatma Vaxtı:</p>
        <b><i class="sigdir">{{elan.catma_vaxti}}</i></b>
        <a href="/detallar/{{ elan.id }}" class="etrafli">Etrafli</a>
        <a href="/favorit/{{elan.id}}" class="etrafli">Ulduzlu Elanlara Əlavə Et/Sil</a>
    </div>
    {% empty %}
        <h1>Ulduzlu Elan Yoxdur</h1>
        {% endfor %}
    </div>
    
    {% endblock %}
</body>
</html>
